<!-- This gonna change rull s00n -->
<div class="player-id-container">
  <small class="player-id">Connected as <%= playerId %></small>
</div>
<div class="keys-container">
  <div class="sound-key" data-frequency="220">A3</div>
  <div class="sound-key" data-frequency="440">A4</div>
  <div class="sound-key" data-frequency="660">E4</div>
  <div class="sound-key" data-frequency="880">A5</div>
  <div class="sound-key" data-frequency="1100">C#5</div>
  <div class="sound-key" data-frequency="1320">E5</div>
  <div class="sound-key" data-frequency="1760">A6</div>
</div>
<div class="instrument-container container">
  <% _.each(instrument.attributes, function(paramVal, name) { %>
    <% if (name !== "paramsInfo" && name !== "Frequency") { %>
      <div class="instrument container">
        <div class="p-input"
             data-name="<%= name %>"
             data-default="<%= paramVal %>"
             <% if (instrument.attributes.paramsInfo[name]) { %>
                data-max="<%= instrument.attributes.paramsInfo[name].max %>"
                data-min="<%= instrument.attributes.paramsInfo[name].min %>"
             <% } %>
        ></div>
        <%- name %>
      </div>
    <% } %>
  <% }); %>
</div>
